{% load wagtailcore_tags wagtailimages_tags %}
<v-card {% if self.page %}href="{% pageurl self.page %}"{% endif %}>
    {% image self.image fill-480x480 as image %}
    {% if self.image %}
        <v-img class="white--text align-end" height="200px" src="{{ image.url }}">
        </v-img>
    {% endif %}
    {% if self.title %}
        <v-card-title>
            <h3>{{ self.title }}</h3>
        </v-card-title>
    {% endif %}
    {% if self.text %}
        <v-card-text class="text--primary">
            {{ self.text }}
        </v-card-text>
    {% endif %}

    {% if self.buttons %}
        <v-card-actions>
            {% for button in self.buttons %}
                {% include_block button %}
            {% endfor %}
        </v-card-actions>
    {% endif %}
</v-card>
