{% load wagtailcore_tags wagtailimages_tags %}
<v-card class="{{ self.classes.outer }}" {% if self.page %}href="{% pageurl self.page %}"{% endif %}
        {% if self.is_flat %}flat{% endif %} tile>
    {% if self.image %}
        {% include_block self.image %}
    {% endif %}
    {% if self.title %}
        <h3 class="{{ self.classes.inner }}">{{ self.title }}</h3>
    {% endif %}
    {% if self.paragraph %}
        {% include_block self.paragraph %}
    {% endif %}

    {% if self.buttons %}
        {% for button in self.buttons %}
            {% include_block button %}
        {% endfor %}
    {% endif %}
</v-card>
