{% load wagtailimages_tags wagtailcore_tags static %}
{% load static wagtailuserbar wagtailcore_tags %}

<section class="w3-container w3-white w3-padding-64">
    <div class="container">
        <h1 style="font-weight: 900"
            class="w3-xxlarge w3-center">
            {{ self.title }}
        </h1>
        <p class="w3-xlarge w3-center">
            {{ self.subtitle }}
        </p>
        <br class="w3-hide-small">
        <br class="w3-hide-small">
        <div class="columns is-multiline is-centered">
            {% for card in self.cards %}
                <div class="column {{ self.container_class }}">
                    {% include_block card %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
