{% load wagtailimages_tags wagtailcore_tags static %}
{% load static wagtailuserbar wagtailcore_tags %}

<section class="w3-container {{ self.classes.outer }}">
    <div class="{{ self.classes.inner }}">
        <div class="columns is-multiline">
            {% if self.image and self.image_position == 'left' %}
                {% include 'blocks/introducer_image.html' %}
            {% endif %}
            <div class="column is-6">
                <div class="w3-text-black w3-padding">
                    {{ self.text|linebreaksbr }}
                </div>
            </div>
            {% if self.image and self.image_position == 'right' %}
                {% include 'blocks/introducer_image.html' %}
            {% endif %}
            <div class="column is-12 w3-center">
                {% for button in self.buttons %}
                    {% include_block button %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
