{% load static wagtailuserbar wagtailcore_tags wagtailsettings_tags wagtailimages_tags %}
{% get_settings use_default_site=True %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta content="" name="description"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.3.7/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap"
          rel="stylesheet">
    <style>
        @font-face {
            font-family: 'TTCommons-Regular';
            src: url('{% static 'fonts/tt/TTCommons-Regular.ttf' %}') format('truetype');
        }

        @font-face {
            font-family: 'TTCommons-Bold';
            src: url('{% static 'fonts/tt/TTCommons-Bold.ttf' %}') format('truetype');
        }

        div, body, v-app {
            font-family: "TTCommons-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
            font-size: {{ settings.home.Configuration.font_size }};
        }

        h1, h2, h3, h4, h5, h6, strong, .heavy-font {
            font-family: 'Playfair Display', serif, "TTCommons-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
            font-weight: 900;
        }

        .light-font {
            font-family: 'Playfair Display', serif, "TTCommons-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
            font-weight: 400;
        }

        .bgoverlay {
            background: rgba(0, 0, 0, 0.3);
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>

    {% block extra_head %}

    {% endblock %}
</head>

<body>
{% wagtailuserbar %}
<div id="app" style="display: none">
    <v-app>
        <v-progress-linear :active="loading" indeterminate style="position: fixed;top: 0;z-index: 100"
                           height="5px"></v-progress-linear>

        {% if messages %}
            {{ message.type }}
            {% for message in messages %}
                <div class="{% if message.level_tag == 'success' %}w3-green{% elif message.level_tag == 'error' %}w3-red{% elif message.level_tag == 'info' %}w3-pale-green{% endif %} w3-padding-large w3-center w3-animate-top trans-400">
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
        <nav class="navbar w3-padding" role="navigation"
             style="padding-left: 16px;padding-right: 5px;"
             aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-item is-paddingless">
                    <a class="is-paddingless w3-large"
                       href="/">
                        {% if settings.home.Configuration.logo %}
                            {% image settings.home.Configuration.logo original as logo %}
                            <img src="{{ logo.url }}" style="max-width: 70px">
                            &nbsp;
                        {% endif %}
                        <span class="w3-hide-small menu-label has-text-weight-bold is-marginless w3-text-black">{{ self.get_site.site_name }}</span>
                        <span class="w3-hide-large w3-hide-medium w3-small menu-label has-text-weight-bold is-marginless w3-text-black">{{ self.get_site.site_name }}</span>
                        &nbsp;
                    </a>
                </div>
                &nbsp;
                {% if self.get_site.root_page.show_in_menus or self.get_site.root_page.get_children %}
                    <a role="button" class="navbar-burger burger w3-round-large" aria-label="menu"
                       aria-expanded="false"
                       data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                {% endif %}
            </div>

            <div id="navbarBasicExample" class="navbar-menu w3-round-xxlarge">
                <div class="navbar-end w3-round-xxlarge">
                    <div class="navbar-item w3-center">
                        {% if self.get_site.root_page.show_in_menus %}
                            <v-btn :depressed="false" :ripple="false" rounded text
                                   href="{% pageurl self.get_site.root_page %}"
                                   class="has-text-weight-bold w3-border-black w3-center ">
                                {{ self.get_site.root_page.title }}
                            </v-btn>
                        {% endif %}
                        {% for child in self.get_site.root_page.get_children %}
                            {% if child.show_in_menus %}
                                <v-menu open-on-hover offset-y :rounded="0">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on" :depressed="false" :ripple="false" rounded text
                                               href="{% pageurl child %}"
                                               class="has-text-weight-bold w3-center">
                                            {{ child.title }}
                                            {% if child.get_children %}
                                                <v-icon style="margin-top: -5px">arrow_drop_down</v-icon>
                                            {% endif %}
                                        </v-btn>
                                    </template>
                                    {% if child.get_children %}
                                        <v-list>
                                            {% for grand_child in child.get_children %}
                                                <v-list-item href="{% pageurl grand_child %}">
                                                    <v-list-item-title>{{ grand_child.title }}</v-list-item-title>
                                                </v-list-item>
                                            {% endfor %}
                                        </v-list>
                                    {% endif %}
                                </v-menu>
                                &nbsp;
                            {% endif %}

                        {% endfor %}

                    </div>
                </div>
            </div>
        </nav>
        <div style="min-height: 90vh" class="w3-light-grey">
            {% block content %}

            {% endblock %}
        </div>

        <footer class="hero">
            <div class="hero-body">
                <div class="container w3-content">
                    <div class="columns is-multiline is-mobile">
                        <div class="column is-6-mobile">
                            <img src="{{ logo.url }}" style="width: 100px" class="w3-margin-bottom">
                            &nbsp;
                            <h1 class="w3-xlarge w3-margin-bottom">
                                {{ self.get_site.site_name }}
                            </h1>
                            <div>
                                {{ settings.home.Configuration.address_1 }}
                                <br>
                                {% if settings.home.Configuration.address_2 %}
                                    {{ settings.home.Configuration.address_2 }}
                                    <br>
                                {% endif %}
                                {{ settings.home.Configuration.city }}, {{ settings.home.Configuration.country }}
                            </div>
                        </div>
                        <div class="column is-6-mobile">
                            <br>
                        </div>
                        <div class="column is-6-mobile">
                            {% for child in self.get_site.root_page.get_children %}
                                {% if child.show_in_menus %}
                                    <a class="footer-link w3-border-bottom w3-border-dark-gray w3-hover-border-white trans-400">{{ child }}</a>
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="column is-6-mobile">
                            {% if settings.home.Configuration.linkedin %}
                                <a target="_blank" rel="noopener noreferrer nofollow"
                                   href="{{ settings.home.Configuration.linkedin }}"
                                   class="footer-link w3-border-bottom w3-border-dark-gray w3-hover-border-white trans-400">LinkedIn</a>
                                <br>
                            {% endif %}
                            {% if settings.home.Configuration.facebook %}
                                <a target="_blank" rel="noopener noreferrer nofollow"
                                   href="{{ settings.home.Configuration.facebook }}"
                                   class="footer-link w3-border-bottom w3-border-dark-gray w3-hover-border-white trans-400">Facebook</a>
                                <br>
                            {% endif %}
                            {% if settings.home.Configuration.twitter %}
                                <a target="_blank" rel="noopener noreferrer nofollow"
                                   href="{{ settings.home.Configuration.twitter }}"
                                   class="footer-link w3-border-bottom w3-border-dark-gray w3-hover-border-white trans-400">Twitter</a>
                                <br>
                            {% endif %}
                            {% if settings.home.Configuration.instagram %}
                                <a target="_blank" rel="noopener noreferrer nofollow"
                                   href="{{ settings.home.Configuration.instagram }}"
                                   class="footer-link w3-border-bottom w3-border-dark-gray w3-hover-border-white trans-400">Instagram</a>
                                <br>
                            {% endif %}
                            <br>
                            <br>
                        </div>
                    </div>
                    <br>
                    <div class="w3-center w3-opacity">
                        <small>
                            © {{ current_year }} {{ self.get_site.site_name }}. All
                            rights reserved
                            <br>
                        </small>
                    </div>

                </div>
            </div>
        </footer>
    </v-app>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });

    let vueApp = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        delimiters: ['[[', ']]'],
        data() {
            return {
                loading: false,
            };
        },
        watch: {},
        computed: {},
        mounted: function () {
            document.getElementById('app').style.display = '';
        },
        methods: {
            goTo(url) {
                window.location.href = url;
            },
        }
    });
</script>
{% block extra_body %}
{% endblock %}
</body>
</html>
