{% load static wagtailuserbar wagtailcore_tags wagtailsettings_tags sedesel_tags wagtailimages_tags %}
{% get_settings use_default_site=True %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta content="" name="description"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.3.7/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap"
          rel="stylesheet">
    <style>
        @font-face {
            font-family: 'TTCommons-Regular';
            src: url('{% static 'fonts/tt/TTCommons-Regular.ttf' %}') format('truetype');
        }

        @font-face {
            font-family: 'TTCommons-Bold';
            src: url('{% static 'fonts/tt/TTCommons-Bold.ttf' %}') format('truetype');
        }

        div, body, v-app {
            font-family: "TTCommons-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
            font-size: {{ settings.api.Configuration.font_size }};
        }

        h1, h2, h3, h4, h5, h6, strong, .heavy-font {
            font-family: 'Playfair Display', serif, "TTCommons-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
            font-weight: 900;
        }

        .light-font {
            font-family: 'Playfair Display', serif, "TTCommons-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
            font-weight: 400;
        }

        .bgoverlay {
            background: rgba(0, 0, 0, 0.4);
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>

    {% block extra_head %}

    {% endblock %}
</head>

<body>
{% wagtailuserbar %}
<div id="app" style="display: none">
    <v-app>
        <v-progress-linear :active="loading" indeterminate style="position: fixed;top: 0;z-index: 100"
                           height="5px"></v-progress-linear>

        {% if messages %}
            {{ message.type }}
            {% for message in messages %}
                <div class="{% if message.level_tag == 'success' %}w3-green{% elif message.level_tag == 'error' %}w3-red{% elif message.level_tag == 'info' %}w3-pale-green{% endif %} w3-padding-large w3-center w3-animate-top trans-400">
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
        <nav class="navbar w3-padding" role="navigation"
             style="padding-left: 16px;padding-right: 5px;"
             aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-item is-paddingless">
                    <a class="is-paddingless w3-large"
                       href="/">
                        {% if settings.api.Configuration.logo %}
                            {% image settings.api.Configuration.logo original as logo %}
                            <img src="{{ logo.url }}" style="max-width: 70px">
                            &nbsp;
                        {% endif %}
                        <span class="w3-hide-small menu-label has-text-weight-bold is-marginless w3-text-black">{{ self.get_site.site_name }}</span>
                        <span class="w3-hide-large w3-hide-medium w3-small menu-label has-text-weight-bold is-marginless w3-text-black">{{ self.get_site.site_name }}</span>
                        &nbsp;
                    </a>
                </div>
                &nbsp;
                {% if self.get_site.root_page.show_in_menus or self.get_site.root_page.get_children|show_in_menus %}
                    <a role="button" class="navbar-burger burger w3-round-large" aria-label="menu"
                       aria-expanded="false"
                       data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                {% endif %}
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end w3-padding-small">
                    {% if self.get_site.root_page.show_in_menus %}
                        <div class="navbar-item is-paddingless">
                            <v-btn :depressed="false" :ripple="false" rounded text
                                   href="{% pageurl self.get_site.root_page %}"
                                   class="has-text-weight-bold w3-center">
                                {{ self.get_site.root_page.title }}
                            </v-btn>
                        </div>
                    {% endif %}
                    {% for child in self.get_site.root_page.get_children %}
                        {% if child.show_in_menus %}
                            <div class="navbar-item is-paddingless">
                                <v-menu :rounded="0">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn :depressed="false" :ripple="false" rounded text
                                                {% if child.get_children %}
                                               v-bind="attrs" v-on="on"
                                                {% else %}
                                               href="{% pageurl child %}"
                                                {% endif %}
                                               class="has-text-weight-bold w3-center">
                                            {{ child.title }}
                                            {% if child.get_children %}
                                                <v-icon>arrow_drop_down</v-icon>
                                            {% endif %}
                                        </v-btn>
                                    </template>
                                    {% if child.get_children %}
                                        <v-list>
                                            {% for grand_child in child.get_children %}
                                                <v-list-item href="{% pageurl grand_child %}">
                                                    <v-list-item-title
                                                            class="w3-left-align is-uppercase">{{ grand_child.title }}</v-list-item-title>
                                                </v-list-item>
                                            {% endfor %}
                                        </v-list>
                                    {% endif %}
                                </v-menu>
                                &nbsp;
                            </div>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </nav>
        {% if page.get_children and False %}
            <div class="w3-padding w3-border-top w3-center"
                 style="overflow-y: auto;white-space: nowrap;border-color: lightgray!important;">
                <v-spacer></v-spacer>
                {% for child in page.get_children %}
                    <v-btn text rounded class="trans-400 w3-large" href="{% pageurl child %}">{{ child.title }}</v-btn>
                {% endfor %}
                <v-spacer></v-spacer>
            </div>
        {% endif %}
        <div style="min-height: 90vh" class="{{ settings.api.Configuration.background_color_class }}">
            {% block content %}

            {% endblock %}
        </div>

        <footer class="w3-padding w3-padding-32 w3-border-top">
            <div class="container">
                <div class="columns is-multiline is-mobile">
                    <div class="column is-12-mobile">
                        <img src="{{ logo.url }}" style="width: 100px" class="w3-margin-bottom">
                        &nbsp;
                        <h1 class="w3-xlarge w3-margin-bottom">
                            {{ self.get_site.site_name }}
                        </h1>
                        <div>
                            {{ settings.api.Configuration.address_1 }}
                            <br>
                            {% if settings.api.Configuration.address_2 %}
                                {{ settings.api.Configuration.address_2 }}
                                <br>
                            {% endif %}
                            {{ settings.api.Configuration.city }}, {{ settings.api.Configuration.country }}
                        </div>
                    </div>
                    <div class="column is-6-mobile is-hidden-mobile">
                        <br>
                    </div>
                    <div class="column is-6-mobile">
                        {% for child in self.get_site.root_page.get_children %}
                            {% if child.show_in_menus %}

                                {% if child.get_children %}
                                    <div
                                            class="footer-link w3-margin-top">{{ child }}</div>
                                    {% for grandchild in child.get_children %}
                                        <div class="w3-margin-left">
                                            &triangleright;&nbsp;
                                            <a href="{% pageurl grandchild %}"
                                               class="footer-link w3-border-bottom w3-border-dark-gray w3-hover-border-white trans-400">{{ grandchild }}</a>
                                        </div>
                                    {% endfor %}

                                {% else %}
                                    &triangleright;&nbsp;
                                    <a href="{% pageurl child %}"
                                       class="footer-link w3-border-bottom w3-border-dark-gray w3-hover-border-white trans-400">{{ child }}</a>
                                {% endif %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="column is-6-mobile">
                        {% if settings.api.Configuration.social_heading %}
                            <h3 class="w3-margin-bottom">{{ settings.api.Configuration.social_heading }}</h3>
                        {% endif %}
                        {% if settings.api.Configuration.linkedin %}
                            <a target="_blank" rel="noopener noreferrer nofollow"
                               href="{{ settings.api.Configuration.linkedin }}"
                               class="w3-text-black trans-400">
                                <svg style="width:36px;height:36px" viewBox="0 0 36 36">
                                    <path fill="currentColor"
                                          d="M19 3A2 2 0 0 1 21 5V19A2 2 0 0 1 19 21H5A2 2 0 0 1 3 19V5A2 2 0 0 1 5 3H19M18.5 18.5V13.2A3.26 3.26 0 0 0 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17A1.4 1.4 0 0 1 15.71 13.57V18.5H18.5M6.88 8.56A1.68 1.68 0 0 0 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19A1.69 1.69 0 0 0 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56M8.27 18.5V10.13H5.5V18.5H8.27Z"/>
                                </svg>
                            </a>
                            &nbsp;
                        {% endif %}
                        {% if settings.api.Configuration.facebook %}
                            <a target="_blank" rel="noopener noreferrer nofollow"
                               href="{{ settings.api.Configuration.facebook }}"
                               class="w3-text-black trans-400">
                                <svg style="width:36px;height:36px" viewBox="0 0 36 36">
                                    <path fill="currentColor"
                                          d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z"/>
                                </svg>
                            </a>
                            &nbsp;
                        {% endif %}
                        {% if settings.api.Configuration.twitter %}
                            <a target="_blank" rel="noopener noreferrer nofollow"
                               href="{{ settings.api.Configuration.twitter }}"
                               class="w3-text-black trans-400">
                                <svg style="width:36px;height:36px" viewBox="0 0 36 36">
                                    <path fill="currentColor"
                                          d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z"/>
                                </svg>
                            </a>
                            &nbsp;
                        {% endif %}
                        {% if settings.api.Configuration.instagram %}
                            <a target="_blank" rel="noopener noreferrer nofollow"
                               href="{{ settings.api.Configuration.instagram }}"
                               class="w3-text-black trans-400">
                                <svg style="width:36px;height:36px" viewBox="0 0 36 36">
                                    <path fill="currentColor"
                                          d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"/>
                                </svg>
                            </a>
                            <br>
                        {% endif %}
                        <br>
                        <br>
                    </div>
                </div>
                <div class="w3-center w3-opacity">
                    <small>
                        © {{ current_year }} {{ self.get_site.site_name }}. All
                        rights reserved
                        <br>
                    </small>
                </div>

            </div>
        </footer>
    </v-app>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });

    let vueApp = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        delimiters: ['[[', ']]'],
        data() {
            return {
                loading: false,
            };
        },
        watch: {},
        computed: {},
        mounted: function () {
            document.getElementById('app').style.display = '';
        },
        methods: {
            goTo(url) {
                window.location.href = url;
            },
        }
    });
</script>
{% block extra_body %}
{% endblock %}
</body>
</html>
